<h1>Interesting People App</h1>
<div ng-app="app">
  <!-- {{ 1 + 1 }} -->
  <div ng-controller="peopleCtrl">
    <div id="peoples">
      <ul>
        <li ng-repeat="people in peoples track by $index" ng-click="toggle(people)">
          {{ people.name }} <button ng-click="removePeople($index)">Delete</button>
          <br>
          <!-- <span ng-hide="people.bioVisible"></span> -->
          <span ng-show="people.bioVisible" ng-class="{strike: people.bioVisible}">{{ people.bio }}</span>
          <br>
          <!-- <button ng-click="removePeople($index)">Delete</button> -->
        </li>
        <br>
      <ul>
    </div>
      
      <br>
      Name: <input ng-model="newPeopleName">
      <br>
      Bio: <input ng-model="newPeopleBio">
      <br>
      <!-- Rating: <input ng-model="newPeopleBioVisible"> -->
      <button ng-click="addPeople(newPeopleName, newPeopleBio)">Add Person</button>

      <br>
      <br>
      <span>Total People Count: {{ peoples.length }} </span>

  </div>
</div>